openapi: 3.1.0
info:
  title: MandaMix API
  version: 0.1.0
  description: >
    REST API for MandaMix. Full prose reference in docs/03_api.md. This contract
    shows the auth + billing core; learning/HSK/notification endpoints follow the
    same conventions and can be expanded inline.
servers:
  - url: https://api.mandamix.com/v1
  - url: http://localhost:8080/v1
security:
  - bearerAuth: []

paths:
  /auth/register:
    post:
      summary: Create a user account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } }
        '409': { $ref: '#/components/responses/Error' }

  /auth/login:
    post:
      summary: Password login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TokenPair' } } } }
        '401': { $ref: '#/components/responses/Error' }

  /me:
    get:
      summary: Current user + entitlement
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Me' } } } }

  /billing/plans:
    get:
      summary: List plans with localized prices
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Plan' }

  /billing/trials:
    post:
      summary: Start the 1-month trial with a payment method
      parameters:
        - in: header
          name: Idempotency-Key
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/StartTrialRequest' }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Subscription' } } } }
        '402': { $ref: '#/components/responses/Error' }

  /billing/subscription:
    get:
      summary: Current subscription
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Subscription' } } } }

  /billing/subscription/cancel:
    post:
      summary: Cancel subscription (access until period/trial end)
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Subscription' } } } }

  /webhooks/stripe:
    post:
      summary: Stripe webhook receiver (signature-verified, no app auth)
      security: []
      responses:
        '200': { description: Acknowledged }

  /admin/users:
    post:
      summary: Create a user account (admin; sends localized set-password invite)
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } }
        '403': { $ref: '#/components/responses/Error' }

  /admin/users/{id}/password-reset:
    post:
      summary: Send a password-reset link (expires 1h; audited)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '202': { description: Reset link sent }
        '403': { $ref: '#/components/responses/Error' }

  /admin/customers/{id}/price:
    put:
      summary: Per-customer price override (reason required; applied via PSP from next invoice; audited)
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PriceOverrideRequest' }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Subscription' } } } }
        '403': { description: Below approval floor — requires finance_admin }

  /lessons/{id}/complete:
    post:
      summary: Submit a completed lesson
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/LessonResult' } } } }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  responses:
    Error:
      description: Error envelope
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string }
    RegisterRequest:
      type: object
      required: [password]
      properties:
        email: { type: string, format: email }
        phone: { type: string }
        password: { type: string, minLength: 8 }
        ui_language: { type: string, enum: [en, th, vi, ms], default: en }
        goal: { type: string, enum: [casual, conversation, hsk_exam] }
    LoginRequest:
      type: object
      required: [password]
      properties:
        email: { type: string }
        password: { type: string }
    TokenPair:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        expires_in: { type: integer }
    User:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [pending, active, suspended, deleted] }
        ui_language: { type: string }
    Me:
      allOf:
        - $ref: '#/components/schemas/User'
        - type: object
          properties:
            entitlement:
              type: object
              properties:
                tier: { type: string, enum: [free, premium] }
                source: { type: string, enum: [trialing, active, none] }
                valid_until: { type: string, format: date-time }
    Plan:
      type: object
      properties:
        code: { type: string, example: premium_monthly }
        name: { type: string }
        interval: { type: string, enum: [month, year, null] }
        trial_days: { type: integer, example: 30 }
        currency: { type: string, example: USD }
        amount_minor: { type: integer, example: 599 }
    PriceOverrideRequest:
      type: object
      required: [amount_minor, reason]
      properties:
        amount_minor: { type: integer, example: 499 }
        currency: { type: string, example: USD }
        applies: { type: string, enum: [next_invoice, next_renewal], default: next_invoice }
        cycles: { type: integer, description: 'Limit override to N cycles (omit = permanent)' }
        reason: { type: string, description: 'Written to audit log' }
    StartTrialRequest:
      type: object
      required: [plan_code, payment_method]
      properties:
        plan_code: { type: string }
        payment_method: { type: string, description: PSP payment-method token (pm_…) }
    Subscription:
      type: object
      properties:
        id: { type: string }
        status: { type: string, enum: [trialing, active, past_due, canceled, expired] }
        plan_code: { type: string }
        currency: { type: string }
        amount_minor: { type: integer }
        trial_ends_at: { type: string, format: date-time }
        current_period_end: { type: string, format: date-time }
    LessonResult:
      type: object
      properties:
        score: { type: number }
        xp_awarded: { type: integer }
        streak: { type: integer }
